.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.movie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 300px;
}

p{
    width: 150px;
    text-align: center;
}